input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Position and style of progress bar */
.shiny-notification{
  position: fixed;
  top: 33%;
  left: 33%;
  right: 33%;
}

/* TELLme semantic package CSS */
#externalContainerSemantics{
    display: block;
    height: 99%;
    padding:2px;
}
#tellme_panelContainer{
    overflow: auto;
    display: block;
    /*padding: 15px;*/
    border: 1px solid #8B008B;
    border-radius: .9rem;
    height: inherit;
    column-count:2;
    max-height:500px;
}

#tellme_panelContainer .titolo{
    padding:10px;
}

#ul_tellme_semantics{
    font-size: 10px!important;
    padding:10px;
    list-style:none;
    /*max-height: 500px;
    overflow:auto;*/
}

/* links to LOD cloud */
#ul_tellme_semantics a{
    /*float:right;*/
}

#ul_tellme_semantics a{
    color:rgb(51, 51, 51);
}

#ul_tellme_semantics .conceptToggle.active a{
    color:#fff;
}



/* tellme keywords (title of each sublist of concepts) */
.li_tellme_keyword{
    cursor:pointer;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:.1rem;
}

.li_tellme_keyword.on::after{
    content: " <<"
}

.li_tellme_keyword:hover{
    color:#2e89a6;
}

.conceptToggle {
    padding: 4px 0 4px 8px;
    background-color:#fff;
    color:#212529;
    display:block;
    cursor:pointer;
}

.conceptToggle.active {
    background-color: #8B008B;
    color: #fff;
}

.ul_tellme_concepts{
    display:block;
    /*width:200px;
    float:left;*/
    padding-left:1rem;
}

.ul_tellme_concepts > .active:first-of-type{
border-top-left-radius:.25rem;
border-top-right-radius:.25rem;
}

.ul_tellme_concepts > .active:last-of-type{
border-bottom-left-radius:.25rem;
border-bottom-right-radius:.25rem;
}